$main-color: rgb(183, 183, 40);
$background-shade: #ebebeb;
$blue-shade: #3483fa;

.andes-wrapper {
    overflow-x: scroll;
    .andes-ul {
        display: flex;
        flex-flow: row nowrap;
        width: max-content;
        height: 230px;
        gap: 10px;
        padding: 10px;
        background-color: $background-shade;
        > li {
            display: flex;
            border-radius: 5px;
            padding: 10px;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            height: 200px;
            width: 150px;
            background-color: white;
            gap: 5px;
            .svg-andes-wrapper{
                display: grid;
                place-items: center;
                height: 40%;
                width: 100%;
                > svg {
                    width: 40px;
                    height: 40px;
                    fill: $main-color;
                }
            }
            &:first-child {
                svg {
                    fill: $blue-shade;
                }
                .content-andes-wrapper {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 5px;
                    > h2 {
                    color: black;
                    font-size: .85rem;
                    font-weight: bold;
                    }
                }
            }
            .content-andes-wrapper {
                width: 100%;
                height: 40%;
                > h2 {
                    color: $blue-shade;
                    font-size: 1rem;
                }
                >p {
                    font-size: .8rem;
                }
            }
            > .button-andes-wrapper {
                height: 20%;
                width: 100%;
                display: grid;
                place-items: center;
                > button {
                    background-color: $blue-shade;
                    border: none;
                    border-radius: 3px;
                    height: 30px;
                    color: white;
                    width: 140px;
                    padding: 5px;
                    font-size: .8rem;
                }
            }
        }
    }
}