$main-color: rgb(251, 251, 92);

.cep-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgb(67, 67, 67);
    background-color: $main-color;
    padding: 5px;
    svg {
        fill: rgb(67, 67, 67);
    }
    .cep-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}