

.frete-gratis {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.068);
    height: 30px;
    border-radius: 5px;
    margin: auto;
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: white;
    font-size: .7rem;
    align-items: center;
    > p {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
        .span-frete-verde {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            color: green;
            
        }
        > svg {
            fill: green;
        }
    }
}