$blue-shade: #3483fa;


.meli-plus-image-container {
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    > header {
        background-image: linear-gradient(90deg, rgb(81, 6, 155), rgb(158, 34, 171));
        color: white;
        height: 100px;
        padding: 0px 15px;
        border-radius: 5px 5px 0px 0px;
        display: flex;
        font-size: 1.6rem;
        > section:first-child {
            width: 40%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: start;
            .assine-o {
                
            }
            .meli-plus-icon {
                border-radius: 20px 20px 20px 0px;
                border: 2px solid white;
                font-size: 1.3rem;
                width: 60px;
                text-align: center;
                height: 27px;
            }
        }
        > section:last-child {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            > p {
                font-size: 1.4rem;
                > sup {
                    font-size: 1rem;
                }
                > small {
                    font-size: 1rem;
                }
            }
        }
    }
    > main {
        > p {
            height: 50px;
            font-weight: bold;
            font-size: .9rem;
            padding: 15px;
            width: 50%;
        }
        > ul {
            display: flex;
            flex-flow: column nowrap;
            padding: 10px;
            > li {
                display: flex;
                align-items: center;
                gap: 10px;
                > img {
                    width: 50px;
                }
                > p {
                    font-size: .9rem;
                }
            }
        }
    }
    > footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        > a {
            color: $blue-shade;
            text-decoration: none;
        }
        > svg {
            fill: $blue-shade;
        }
    }
}