@import './_variables.scss';


#mobile-header {
    background-color: $main-yellow;
    .header-wrapper {
        height: 70px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        #logo {
            width: 60px;
            cursor: pointer;
        }
        #query-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid $shade-gray;
            background-color: white;
            border-radius: 3px;
            height: 35px;
            width: 50%;
            transition: height .01s linear, top .01s linear, width .01s linear;
            &:has(input:focus) {
                position: absolute;
                width: 100%;
                z-index: 99;
                height: 60px;
                border: none;
                top: 0;
                border-radius: 0px;
                > #query-icon {
                    height: 70%;
                    width: 45px;
                }
                > .input-results-root {
                    display: flex;
                }
            }
            #query-icon {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 5px;
                > svg {
                    fill: $shade-gray;
                }
            }
            #query {
                padding: 5px;
                border: none;
                background-color: transparent;
                width: 90%;
                font-size: 1rem;
            }
            .input-results-root {
                position: absolute;
                top: 60px;
                width: 100%;
                background-color: white;
                display: none;
                > ul {
                    border: 1px solid black;
                    border-bottom: none;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    > li {
                        width: 100%;
                        border-bottom: 1px solid black;
                        height: 50px;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        > a {
                            text-decoration: none;
                            color: black;
                            display: flex;
                            height: 100%;
                            > .img-mini-wrapper{
                                padding: 0px 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                position: relative;
                                width: 60px;
                                > img {
                                    position: relative;
                                    height: 50px;
                                }
                            }
                            > div {
                                padding-left: 5px;
                                border-left: 1px solid black;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                > h3 {
                                    font-size: 1rem;
                                    width: 320px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-weight: 400;
                                }
                                > p {
                                    font-size: .8rem;
                                    color: $shade-gray;
                                    > span {
                                        padding-left: 5px;
                                        font-size: .7rem;
                                        color: $brighter-green-shade;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .hamburguer-menu {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: none;
            background-color: transparent;
            display: grid;
            align-items: center;
            grid-template-rows: repeat(3, 32%);
            position: relative;
            > span {
                background-color: $shade-gray;
                height: 3px;
                border-radius: 5px;
                width: 100%;
                display: block;
                transition: transform linear .2s;
            }
        }
        .shopping-cart {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
