@import './_variables.scss';


#mobile-header {
    background-color: $main-yellow;
    .header-wrapper {
        height: 70px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        #logo {
            width: 60px;
            cursor: pointer;
        }
        #query-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid $shade-gray;
            border-radius: 3px;
            background-color: white;
            height: 35px;
            width: 50%;
            #query-icon {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 5px;
                > svg {
                    fill: $shade-gray;
                }
            }
            #query {
                padding: 5px;
                border: none;
                background-color: transparent;
                width: 90%;
                font-size: 1rem;
            }
        }
        .hamburguer-menu {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: none;
            background-color: transparent;
            display: grid;
            align-items: center;
            grid-template-rows: repeat(3, 32%);
            position: relative;
            > span {
                background-color: $shade-gray;
                height: 3px;
                border-radius: 5px;
                width: 100%;
                display: block;
                transition: transform linear .2s;
            }
        }
        .shopping-cart {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
