@import './_variables.scss';


.ofertas-carrousel {
    .ofertas-ul {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        width: 100%;
        scroll-snap-type: x mandatory;
        height: max-content;
        > li {
            flex: 0 0 100%;
            height: 200px;
            scroll-snap-align: start;
            background-image: linear-gradient(180deg, $main-yellow, white);
            width: 100vw;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            > a {
                > img {
                    border-radius: 5px;
                    width: 95vw;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .ofertas-ul {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 426px) {
    .ofertas-ul {
        overflow-x: hidden;
    }
}