@import './variables';

.product-full-page {
    .product-body {
        padding: 10px;
        background-color: white;
        width: 95%;
        border-radius: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        > h1 {
            font-size: 1.1rem;
        }
        .img-wrapper-full {
            width: 100%;
            display: grid;
            place-items: center;
            > img {
                width: 80%;
            }
        }
        .prices-full-sect {
            display: flex;
            flex-direction: column;
            background-color: rgb(232, 232, 232);
            border-radius: 5px;
            width: 95%;
            gap: 5px;
            padding: 10px;
            .full-old-price {
                text-decoration: line-through;
                color: gray;
            }
            .full-main-price {
                > strong {
                    font-size: 1.5rem;
                }
                > span {
                    color: $brighter-green-shade;
                    padding-left: 10px;
                }
            }
            .full-divided-price {
                > span {
                    color: $green-shade;
                }
            }
            > a {
                text-decoration: none;
                color: $blue-shade;
            }
            .oferta-do-dia-lie {
                background-color: $blue-shade;
                width: max-content;
                padding: 3px 5px;
                display: grid;
                place-items: center;
                border-radius: 5px;
                color: white;
                font-size: .8rem;
            }
        }
        > form {
            width: 100%;
            display: grid;
            place-items: center;
            padding: 5px 0px;
            input {
                width: 95%;
                border-radius: 5px;
                border: 1px solid gray;
                background-color: $blue-shade;
                color: white;
                height: 35px;
                transition: font-size .1s linear;
                &:hover {
                    font-size: .95rem;
                }
                &:active {
                    background-color: $background-shade;
                    color: $blue-shade;
                    border-color: $blue-shade;
                }
            }
        }
        .adicionar-carrinho-product {
            height: 35px;
            width: 95%;
            border-radius: 5px;
            border: 1px solid gray;
            background-color: $green-shade;
            color: white;
            transition: font-size .1s linear;
            &:hover {
                font-size: .95rem;
            }
            &:active {
                background-color: $background-shade;
                color: $green-shade;
                border-color: $green-shade;
            }
        }
    }
}