@import '../scss/variables';

.search-page {
    > .search-header {
        background-color: $main-yellow;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        > a {
            width: 50px;
            > img {
                width: 60px;
            }
        }
    }
    > main {
        > ul {
            display: flex;
            flex-flow: column nowrap;
            gap: 10px;
            padding: 10px;
            li {
                border-bottom: 1px solid rgb(206, 206, 206);
                background-color: white;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103);
                border-radius: 5px;
                > a {
                    text-decoration: none;
                    display: flex;
                    color: black;
                    .img-big-wrapper {
                        padding: 10px;
                        display: grid;
                        place-items: center;
                        > img {
                            width: 90px;
                        }
                    }
                    .div-big-wrapper-description {
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2px;
                        > h3 {
                            font-size: 1.1rem;
                            color: rgb(66, 66, 66);
                        }
                        > p {
                            &.line-through-p {
                                text-decoration: line-through;
                                font-size: .8rem;
                                color: rgb(112, 112, 112);
                            }
                            &.main-price-p {
                                font-weight: 400;
                                font-size: 1.1rem;
                            }
                            > span {
                                color: $brighter-green-shade;
                                padding-left: 5px;
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}