@import './_variables.scss';


.single-product-wrapper {
    width: 90%;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    > h2 {
        font-size: 1.3rem;
    }
    > a {
        text-decoration: none;
        color: black;
        > .img-wrapper-sp {
            width: 100%;
            display: grid;
            place-items: center;
            > img {
                width: 260px;
            }
        }
        > h3 {
            font-size: 1rem;
        }
        > .single-product-price-section {
            padding: 5px 0px;
            > small {
                text-decoration: line-through;
                color: rgb(66, 66, 66);
            }
            > .price-off {
                .black-color-price {
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                .green-color-off {
                    color: $green-shade;
                    font-size: .8rem;
                }
            }
            .sem-juros-p {
                padding-top: 5px;
                font-size: .8rem;
                .green-color-sem-juros {
                    color: $green-shade;
                }
            }
        }
        > p {
            &.frete-gratis-full{
                color: $green-shade;
                padding-top: 10px;
                font-size: .75rem;
                font-weight: 600;
            }
        }
    }
    > .single-product-footer {
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 20px 0px 0px 0px;
        justify-content: space-between;
        > p {
            text-decoration: none;
            font-weight: 600;
            color: $blue-shade;
        }
        > svg {
            fill: $blue-shade;
        }
    }
}