@import './variables';

.vp-page {
    padding: 30px;
    .upper-vp-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        > p {
            border: none;
            border-radius: 50px 50px 50px 0px;
            text-align: center;
            color: white;
            background-image: linear-gradient(90deg, rgb(142, 31, 142), rgb(184, 31, 198));
            width: 50px;
            font-weight: bold;
            padding: 10px;
        }
        > h1 {
            font-weight: 600;
            font-size: 1.3rem;
            text-align: center;
        }
        > div {
            display: flex;
            align-items: center;
            gap: 10px;
            > img {
                width: 50px;
            }
            > p {
                font-weight: 500;
                font-size: .8rem;
            }
        }
    }
    .lower-vp-page {
        > ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: auto;
            width: 90%;
            > li {
                display: flex;
                flex-direction: column;
                align-items: center;
                > img {
                    width: 80px;
                    border-radius: 5px;
                }
                > p {
                    font-size: .6rem;
                    font-weight: 600;
                }
            }
        }
    }
    .assine-vp-preço {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
        > p {
            font-size: 1.1rem;
            font-weight: 600;
        }
        > strong {
            font-size: 2rem;
            font-weight: bold;
            > sup {
                font-size: 1.4rem;
            }
            > span {
                font-size: 1.4rem;
            }
        }
    }
}

.frete-section {
    background-color: white;
    border-radius: 5px;
    width: calc(90% - 20px);
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.136);
    > h2 {
        font-size: 1.2rem;
        font-weight: 500;
    }
    > img {
        width: 100%;
    }
    > p {
        font-size: .95rem;
    }
    > footer {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 20px;
        > div {
            border: none;
            border-radius: 50px 50px 50px 0px;
            background-image: linear-gradient(90deg, rgb(142, 31, 142), rgb(184, 31, 198));
            width: 60px;
            height: 30px;
            display: flex;
            justify-content: center;
            font-weight: bold;
            align-items: center;
            color: white;
        }
        > p {
            width: 85%;
        }
    }
}

.vp-submit {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 20px 0px;
    > input {
        background-color: $blue-shade;
        border: none;
        width: 95%;
        font-weight: bold;
        height: 40px;
        font-size: 1rem;
        border-radius: 5px;
        color: white;
    }
}